<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Loading the custom motions, guest locations and features for disambiguation into the parameter server -->
    <rosparam command="load" file="$(find robocup_go_and_get_it)/config/locations.yaml" />

    <!-- Including other launch files -->
    <include file="$(find execute_grasp_moveit_grasps)/launch/gpd.launch" />

    <!-- Launching state machine
    <node pkg="robocup_go_and_get_it" type="state_machine.py" name="state_machine" respawn="true" output="screen"/> -->

</launch>
